# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=tu usuario
DB_PASSWORD=tu contraeña
DB_NAME=tu base de datos
DB_SYNCHRONIZE=false  # true solo en desarrollo!

# App
APP_PORT=3000
NODE_ENV=development

# Auth JWT
JWT_SECRET=cambiar-esta-clave-en-produccion
JWT_EXPIRES_IN=8h

# Admin inicial MVP
DEFAULT_ADMIN_EMAIL=admin@farmacia.local
DEFAULT_ADMIN_PASSWORD=admin1234
