# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=tu usuario
DB_PASSWORD=tu contraeña
DB_NAME=tu base de datos
DB_SYNCHRONIZE=false  # true solo en desarrollo!

# App
APP_PORT=3000
NODE_ENV=development